
.option-container{
    display: block;
}

.option-lista{
    max-width: 500px;

}
.option-item{
    display: flex;
    align-items: center;
    gap: 10px;
    
    margin: 10px 0px;
}


#valorInput{
    border:none;
    border-bottom: 1px solid grey;
}


.campo-input{
    display: flex;
    flex-direction: column;
}

.form-cria-campo{
    border: 1px solid red;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}

.input-criar-option{
    display: flex;
}