
/*form*/

#novo-form{
    max-width:600px;
    width: 100%;
    margin: 50px auto;

    border: 1px solid  blue;

    padding: 20px;

}

.novoCampo{
    width: 100%;
    border: 1px solid  rgb(0, 217, 255);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.novoCampo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.novoCampo input, .novoCampo select{
    width: 100%;
}



/*modal adiciona*/


.input-criar-option{
    display: flex;
    align-items: flex-end;
    
}

.input-criar-option button{
    height: 21px;
}

.input-add-option{
    display: flex;
    flex-direction: column;
}


.option-container{
    display: block;
}

.option-lista{
    max-width: 500px;

}
.option-item{
    display: flex;
    align-items: center;
    gap: 10px;
    
    margin: 10px 0px;
}


#valorInput{
    border:none;
    border-bottom: 1px solid grey;
}


.campo-input{
    display: flex;
    flex-direction: column;
}

.form-cria-campo{
    border: 1px solid red;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
}




.msg-option{
    border: 1px dashed grey;
    max-width: 100%;
    display: none;
    align-items: center;
    justify-content: center;

}




/* editar campo */

.form-edit-campo{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid green;
    padding: 20px;

    margin-top: 50px;
}

