@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body{
    font-family: 'Roboto', sans-serif;
}

.erro-campo{
    color: red;
    display: none;
}

/*form*/

.novo-formulario-container{
    border: 1px solid  blue;
}

.novo-formulario-container h1{
    text-align: center;

}


#novo-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

.criar-campo-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    margin-bottom: 35px;
    
}

.criar-campo-title h4{
    color: #595555;
    font-size: 1.2rem;
    padding: 0px 10px;

}


.form-campo-container{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-campo-container input{
    
    height: 30px;
    font-size: 16px;
    padding: 0px 5px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-radius: 4px;
}

.open-modal-add{
    padding: 5px 10px;
    background: #0094E1;
    color: #fff;
    border: none;
    height: 25px;
    border-radius: 4px;
}

.novoCampo{
    width: 100%;
    border: 1px solid  rgb(0, 217, 255);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.novoCampo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.novoCampo div button{
    width: 35px;
    height: 35px;
    background: #F0F0F0;
    border: none;
    cursor: pointer;
    transition: 0.8s;
}

.novoCampo div button:hover{
    background: #d2d2d2;
    transition: 0.5s;
}


.remove-campo{
    color: red;
    font-weight: bold;
}

.novoCampo input, .novoCampo select{
    
    height: 30px;
    font-size: 18px;
    padding: 0px 5px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-radius: 4px;
}

.novoCampo textarea{
    height: 100px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-radius: 4px;
}


#novo-form:has(novoCampo){
    border: 1px solid red;
}

/*modal adiciona*/

.modal-criar-campo{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    
}


.modal-campo-container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
    padding: 20px 20px 30px;
}

.close-modal-add{
    width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 10px 10px 10px;
}

.modal-campo-container h2{
    text-align: center;
    color: #595959;

}

.form-cria-campo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    margin-top: 30px;
}


.msg-option{
    border: 2px dashed #bfbfbf;
    max-width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.msg-option p{
    font-weight: bold;
    color: #6e6e6e;
}


.input-criar-option{
    display: flex;
    align-items: flex-end;
    
    
}

.input-add-option{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.option-lista-edit{
    margin-top: 20px;
}

.option-lista-edit{
    color: #595959 !important;

}

.input-criar-option button{
    width: 100px;
    height: 24px;
    padding:5px 10px;
    background: #0094E1;
    border: none;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

 .input-add-option input{
    height: 30px;
    padding: 0px 14px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.option-container{
    display: none;
}

.option-lista{
    margin-top: 35px;

}

.option-lista h4{
    margin-top: 35px;

}

.option-item{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    justify-content: space-between;
    position: relative;
}

.option-item input{
    width: 100%;
    height: 30px;
    padding: 0px 14px;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #CCCCCC;
}

.option-item svg{
    position: absolute;
    right: 60px;
}

.option-item button{
    width: 40px;
    height: 32px;
    font-weight: bold;
    color: red;
    background: #F0F0F0;
    cursor: pointer;
    border: none;

}

#valorInput{
    border:none;
    border-bottom: 1px solid grey;
}


.campo-input{
    display: flex;
    flex-direction: column;
}

.campo-input input, .campo-input select{
    height: 30px;
    padding: 0px 14px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    margin-top: 6px;
    border-radius: 4px;
}

.salvar-campo{
    max-width: 137px;
    width: 100%;
    margin: 0 auto;
    height: 36px;
    background: #1C813C;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;

}






/* editar campo */

.modal-edit-campo{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-edit-campo-container{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
    padding: 20px 20px 30px;
    border-radius: 4px;

}

#id-campo{
    display: none;
}


.modal-edit-campo-container h2{
    text-align: center;
    color: #595959;
}

.close-modal-edit{
    width: 30px;
    height: 30px;
    background-color: #fff;
    font-size: 26px;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 10px 10px 10px;
    color: #595959;
    cursor: pointer;
    border-top-right-radius: 4px;
}


.form-edit-campo{
   
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.salvar-campo-edit{
    max-width: 137px;
    width: 100%;
    margin: 0 auto;
    height: 36px;
    background: #1C813C;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;

}


